.wrapper {
  position: relative;
  color: var(--text-color);
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 180px;
  background: var(--background);
  gap: 20px;
  font-size: 14px;
  box-shadow: var(--shadow);
  border-radius: 5px;
  cursor: pointer;

}

.body {
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
  padding-block: 10px;
  width: 100%;
  background: var(--background);
  font-size: 14px;
  box-shadow: var(--shadow);
  border-radius: 5px;

  &__item {
    cursor: pointer;
    padding: 5px 25px;

    &:hover {
      background-color: var(--input-color);
    }
  }
}
