.wrapper {
  height: 70px;
  width: 100vw;
  box-shadow: var(--shadow);
  display: flex;
  justify-content: center;
  background-color: var(--elements-bg);
}

.container {
  padding-inline: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  max-width: 1440px;
  color: var(--text-color);

  &__logo {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }

  &__mode {
    display: flex;
    align-items: center;

    gap: 10px;
    cursor: pointer;
  }
}
