.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.input {
  outline: none;
  width: 450px;
  border: none;
  padding: 15px 15px 15px 70px;
  box-shadow: var(--shadow);
  background-color: var(--elements-bg);
  color: var(--text-color);

  &::placeholder {
    color: var(--text-color);
  }
}

.icon {
  font-size: 15px;
  position: absolute;
  left: 30px;
  color: var(--text-color);
}

