.container {
  margin-top: 80px;
  color: var(--text-color);
}

.content {
  margin-top: 80px;
  display: flex;
  align-items: center;
  gap: 100px;

  &__flag {
    width: 600px;
    max-height: 45vh;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__header {
    font-size: 35px;
    font-weight: 900;
  }

  &__info {
    display: flex;
    gap: 130px;
    line-height: 30px;

  }

  &__row {
    span {
      font-weight: 700;
    }
  }

  &__border {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 700;
  }

  &__name {
    width: 170px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 10px;
  }
}

.loading {
  display: flex;
  justify-content: center;
  height: 50vh;
  align-items: center;
  font-size: 3rem;
  margin-top: 100px;
}
