@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;600;800&family=Bellefair&family=Nunito+Sans:wght@300;600;800&display=swap');
@import "scss/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

.app {
  background-color: var(--background);
  min-height: 100vh;
}


.container {
  padding-inline: 20px;
  width: 100vw;
  max-width: 1440px;
  margin-inline: auto;
}



