$dark_elements: hsl(209, 23%, 22%);
$dark_bg: hsl(209, 23%, 22%);
$light_text: hsl(200, 15%, 8%);
$light_input: hsl(0, 0%, 52%);
$light_bg: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

.home_text {
  font-size: 14px;
}

.detail_text {
  font-size: 16px;
}

