:root {
  --home-text: 14px;
  --detail-text: 16px;
  --radius: 5px;

  --elements: hsl(0, 0%, 100%);
  --background: hsl(0, 0%, 98%);
  --text-color: hsl(200, 15%, 8%);
  --input-color: hsl(0, 3%, 89%);
  --shadow: 0 1px 15px -5px #c5c4c4;
  --button-shadow: 0 0 5px 0 #c5c4c4;
}

[data-theme='dark'] {
  --elements: hsl(209, 23%, 22%);
  --background: hsl(207, 26%, 17%);
  --text-color: hsl(0, 0%, 93%);
  --input-color: hsl(209, 23%, 22%);
  --shadow: 0 1px 15px -5px #000000;
  --button-shadow: 0 0 5px 0 #000000;
}

